In [1]:
import re

In [2]:
paragraph = """John is 24 years old and Sara is 23 and Maiki is 15 years old."""

let's extract all ages

In [3]:
age_pattern = r'[0-9]+'
ages=re.findall(age_pattern,paragraph)
ages

['24', '23', '15']

let's extrac all names

In [4]:
name_patterns = r'[A-Z][a-z]+'
Names = re.findall(name_patterns,paragraph)
Names

['John', 'Sara', 'Maiki']

In [5]:
phone_numbers = """
john: 145-202-9330
Sara: 156.201.3333
maiki: 111*505*1254
"""

Extracting phone numbers

In [6]:
p_pattern = r'([0-9]+.[0-9]+.[0-9]+)'
phnos = re.findall(p_pattern,phone_numbers)
phnos

['145-202-9330', '156.201.3333', '111*505*1254']

Reformatting phone numbers and then extracting them again

In [7]:
replace_p = r'[.|*]'
phone_numbers = re.sub(replace_p,"-",phone_numbers)
p_pattern = r'([0-9]+.[0-9]+.[0-9]+)'
phnos = re.findall(p_pattern,phone_numbers)
phnos

['145-202-9330', '156-201-3333', '111-505-1254']

Let's extract the names

In [8]:
name_pattern = r'[A-Z]?[a-z]+'
names = re.findall(name_pattern,phone_numbers)
names

['john', 'Sara', 'maiki']

Let's store it into a dictionary

In [9]:
contacts = dict()
i=0
for name in names:
    contacts[name] = phnos[i]
    i = i+1
print(contacts)

{'john': '145-202-9330', 'Sara': '156-201-3333', 'maiki': '111-505-1254'}

In [10]:
email = input("enter your email address: ")
email_format = r'[A-Z|a-z|0-9|_|.|-]+@[A-Z|a-z|-|.|_]+\.(com|net|edu|uk|in)'
if re.match(email_format,email):
    print('valid format')
else:
    print('wrong format!!!')

wrong format!!!

In [11]:
t_email = input("enter the email address: ")
e_format = r'[A-Z|a-z]{1}[A-Z|a-z|0-9|_|.|-]+@[A-Z|a-z|-|.|_]+\.(com|net|edu|uk|in)'
if re.match(e_format,t_email):
    print('valid format')
else:
    print('wrong format!!!')

wrong format!!!

In [12]:
urls = """
https://www.google.com
http://youtube.com
https://www.nasa.gov
https://coursera.org
"""
urls_pattern = r'https?://(www\.)?(\w+)(\.\w+)'
url_lists = re.findall(urls_pattern,urls)
url_lists

[('www.', 'google', '.com'),
 ('', 'youtube', '.com'),
 ('www.', 'nasa', '.gov'),
 ('', 'coursera', '.org')]

In [13]:
new_urls=""
for g1,g2,g3 in url_lists:
    new_urls += g2+g3+"\n"
print(new_urls)

google.com
youtube.com
nasa.gov
coursera.org

- Exercise: below you can see a list of dates with different formats. reformat all the dates into dd/mm/yyyy using Regex.

In [14]:
dates = """
12 01 2020
15.05.2021
07/03/2020
10-03-2019
"""
dates_format = r'(\w+).(\w+).(\w+)'
dates_list = re.findall(dates_format,dates)
print(dates_list)

[('12', '01', '2020'), ('15', '05', '2021'), ('07', '03', '2020'), ('10', '03', '2019')]

In [15]:
new_dates=""
for p1,p2,p3 in dates_list:
    new_dates += p1+"/"+p2+"/"+p3+"\n"
print(new_dates)

12/01/2020
15/05/2021
07/03/2020
10/03/2019

In [16]:
import pandas as pd
data = pd.read_csv('dataset.csv')
data

                                               notes
0  Friends reunion on Thursday 25-05-2021 at 6:00 pm
1  on Saturday-night 29-05-2021 at 3:00 pm champi...
2  the doctor's appointment is on Tuesday 12-04-2...
3  Meeting with friends on Friday 14-12-2020 at 8...
4  On Wednesday 06.01.2021 at 9:30 pm there is a ...
5  Don't forget to call Dani on Friday 22/07/2020...
6  Wednesday 25/05/2021 at 5:30 pm, meeting with ...
7         Job interview at 9:00 am Monday 02.02.2021

In [17]:
information = pd.DataFrame(columns=["day","month","year","weekday","time"])
information

Empty DataFrame
Columns: [day, month, year, weekday, time]
Index: []

In [18]:
data["notes"].str.count(r'\w+')

0    11
1    15
2    14
3    12
4    14
5    15
6    12
7    10
Name: notes, dtype: int64

In [19]:
data['notes'].str.findall(r'\w+')

0    [Friends, reunion, on, Thursday, 25, 05, 2021,...
1    [on, Saturday, night, 29, 05, 2021, at, 3, 00,...
2    [the, doctor, s, appointment, is, on, Tuesday,...
3    [Meeting, with, friends, on, Friday, 14, 12, 2...
4    [On, Wednesday, 06, 01, 2021, at, 9, 30, pm, t...
5    [Don, t, forget, to, call, Dani, on, Friday, 2...
6    [Wednesday, 25, 05, 2021, at, 5, 30, pm, meeti...
7    [Job, interview, at, 9, 00, am, Monday, 02, 02...
Name: notes, dtype: object

In [20]:
dates = data['notes'].str.findall('\d{2}.\d{2}.\d{4}')
dates

0    [25-05-2021]
1    [29-05-2021]
2    [12-04-2021]
3    [14-12-2020]
4    [06.01.2021]
5    [22/07/2020]
6    [25/05/2021]
7    [02.02.2021]
Name: notes, dtype: object

In [21]:
dates=data['notes'].str.replace(r'(\d{2}).(\d{2}).(\d{4})', lambda groups: groups[1]+'/'+groups[2]+'/'+groups[3])
dates_df=dates.str.extract('(?P<day>\d{2})/(?P<month>\d{2})/(?P<year>\d{4})')
dates_df

C:\Users\vivek Negi\AppData\Local\Temp\ipykernel_4224\2869490471.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  dates=data['notes'].str.replace(r'(\d{2}).(\d{2}).(\d{4})', lambda groups: groups[1]+'/'+groups[2]+'/'+groups[3])

  day month  year
0  25    05  2021
1  29    05  2021
2  12    04  2021
3  14    12  2020
4  06    01  2021
5  22    07  2020
6  25    05  2021
7  02    02  2021

In [22]:
time_df = data['notes'].str.extract('(?P<time>\d+:\d+)')
time_df

    time
0   6:00
1   3:00
2   4:40
3   8:30
4   9:30
5  12:00
6   5:30
7   9:00

In [23]:
week_df=data['notes'].str.extract('(?P<weekdays>\w+day)')
week_df

    weekdays
0   Thursday
1   Saturday
2    Tuesday
3     Friday
4  Wednesday
5     Friday
6  Wednesday
7     Monday

In [24]:
info = dates_df.join(time_df).join(week_df)
info

  day month  year   time   weekdays
0  25    05  2021   6:00   Thursday
1  29    05  2021   3:00   Saturday
2  12    04  2021   4:40    Tuesday
3  14    12  2020   8:30     Friday
4  06    01  2021   9:30  Wednesday
5  22    07  2020  12:00     Friday
6  25    05  2021   5:30  Wednesday
7  02    02  2021   9:00     Monday

In [25]:
info.weekdays.value_counts()

Friday       2
Wednesday    2
Thursday     1
Saturday     1
Tuesday      1
Monday       1
Name: weekdays, dtype: int64

In [28]:
info[info.year=="2021"].month.value_counts()

05    3
04    1
01    1
02    1
Name: month, dtype: int64